.optionsBtn {
    display: flex;
    gap: 4px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.optionbtn {
    border: 2px solid gray;
    border-radius: 4px;
    background-color: rgba(193, 193, 199, 0.416);
}

.optionbtn:hover,
.optionbtn:focus {
    border: 2px solid rgb(73, 72, 72);
    background-color: rgba(128, 128, 130, 0.416);
}